.test-box {
  border: thin solid #000;
}

.alex-img {
  width: 700px;
  height: 800px;
  background-image:url('imgs/alexUng.jpg');
}

#port {
  position: relative;
  overflow: hidden;
  width: 700px;
  height: 700px;
}

.parallax-layer {
  position: absolute;
}
