body {
  font-family: 'Raleway', sans-serif; }

.background-img {
  background-image: url("../imgs/red-brick-background.jpg");
  width: 100%; }

#port {
  position: relative;
  overflow: hidden;
  width: 700px;
  height: 900px; }

.alex-img {
  width: 700px;
  height: 1000px; }

#sideport {
  float: left;
  width: 200px;
  height: 150px; }

.alex-fn {
  width: 200px;
  height: 100px;
  position: absolute;
  bottom: 0; }

.parallax-layer {
  position: absolute; }

.main-background {
  background-color: #000;
  min-height: 800px;
  padding: 30px 0 70px 0; }
  .main-background .main-text {
    color: #FFF; }
  .main-background .hire-alex-margin {
    margin-top: 100px; }
    .main-background .hire-alex-margin .circle {
      border: thin solid #FFF;
      border-radius: 50%;
      height: 300px;
      width: 300px; }
      .main-background .hire-alex-margin .circle:hover {
        background-color: #545454; }
      .main-background .hire-alex-margin .circle .icon-placement {
        display: flex;
        justify-content: center;
        font-size: 50px;
        margin-top: 80px;
        color: #FFF; }
      .main-background .hire-alex-margin .circle .hire-alex {
        color: #FFF;
        text-align: center;
        margin: 50px 30px; }

.wireframe-background {
  min-height: 800px;
  padding: 30px 0 70px 0; }
  .wireframe-background .wireframe-center {
    display: flex;
    justify-content: center;
    position: relative; }
    .wireframe-background .wireframe-center .top, .wireframe-background .wireframe-center .bottom {
      height: 400px;
      width: 666px; }
    .wireframe-background .wireframe-center img {
      position: absolute;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
      margin: auto;
      left: 0;
      right: 0;
      margin-top: 10%; }
      .wireframe-background .wireframe-center img.top:hover {
        opacity: 0; }

.product-background {
  min-height: 800px;
  padding: 30px 0 70px 0;
  background-color: #f6f6f3; }
  .product-background .product-center {
    display: flex;
    justify-content: center;
    position: relative; }
  .product-background .product {
    border: thin solid #000;
    height: 400px;
    width: 666px; }
    .product-background .product .page-content {
      margin: 20px;
      overflow: hidden;
      position: relative; }
      .product-background .product .page-content .hire-alex-please {
        overflow-y: scroll;
        position: absolute; }

.awareness-background {
  min-height: 800px;
  padding: 30px 0 70px 0; }
  .awareness-background .awareness-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
    position: relative; }
  .awareness-background .awareness-margin-top {
    display: flex;
    justify-content: center;
    position: absolute; }
  .awareness-background .awareness-circle {
    border: thin solid #000;
    border-radius: 50%;
    height: 300px;
    width: 300px; }
  .awareness-background .hire-alex {
    color: #FFF;
    text-align: center;
    margin: 50px 30px; }

/*# sourceMappingURL=output.css.map */
